
:root
{
  --backgroundColor: white;
  --buttonColor1: lightpink;
  --buttonColor2: red;
  --textColor: black;
  --backgroundImage: url(strawberries.png);
  --topbar: lightgrey;
  
}

.darkmode
{
  --backgroundColor: rgb(30, 30, 30);
  --buttonColor1: rgb(0, 0, 87);
  --buttonColor2: rgb(50, 0, 50 );
  --textColor: white;
  --backgroundImage: url(blueberries.png);
 --topbar: black;
}

body
{
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: var(--backgroundColor);
}
.everythingContainer
{
    flex-grow: 1;
    display: flex;
}


.pieClick
{
    transform: scale(0.95);
}

#mainClickerHolder
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#darkerStrawberries
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

#mainClicker
{
   height: 20%;
   background: none;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 100ms all;
}
@media (min-width: 1200px)
{
    #mainClicker
    {
        height: 30%;
    }
}


#mainClickerIMG
{
height: 100%;
   width: 100%;
position: relative;
padding: 10px;

}




#theRightDiv
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    flex-grow: 1;
    }
#theLeftDiv
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    text-align: center;
    justify-content: center;
        flex-grow: 1;
            border: 5px solid black;
    height: 99vh    ;
        background-image: var(--backgroundImage);
        background-size: cover;
        

}

#counter
{
    color: white;
    position: relative;
}


.upgradeButtons
{
    width: 90%;
    height: 80px;
    border: none;
    margin: 15px;
    color: var(--textColor);
    background: linear-gradient(to top, var(--buttonColor1), var(--buttonColor2)); 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.upgradeButtons::after
{
    content: "";
    position: absolute;
    background: black;
    width: 101.5%;
    height: 110%;
    z-index: -1;
}
#clickPopUp
{
    position: absolute;
    background-color: black;
}
#topBar
{
    background-color: var(--topbar);
}

#bottomRightContainer
{

display: flex;
justify-content: center;
}

#RESETBUTTON
{
    position: absolute;
   bottom: 0;
}
#themeSwitch
{
    position: absolute;
    border: none;
    background: linear-gradient(to top, var(--buttonColor1), var(--buttonColor2));
    color: var(--textColor);
    border: 3px solid black;
}
#multiplierMultiButton
{
    position: relative;
        width: 20%;
        border: 2px solid black;
        color: var(--textColor);
        background: linear-gradient(to top, var(--buttonColor1), var(--buttonColor2));
}
#multiplierMultiButton:hover::after
{
    content: "upgrades your multiplier by 2X each upgrade";
    position: absolute;
    background: var(--backgroundColor);
    color: var(--textColor);
    width: 100%;
    left: 0;
    top: 110%;
}
#autoClickerMultiply
{
    position: relative;
    width: 20%;
    border: black 2px solid;
    color: var(--textColor);
        background: linear-gradient(to top, var(--buttonColor1), var(--buttonColor2));
}
#autoClickerMultiply:hover::after
{
    content: "upgrades your auto clicker by 2X each upgrade";
    position: absolute;
    background: var(--backgroundColor);
    color: var(--textColor);
    width: 100%;
    left: 0;
    top: 110%;
}
#weakSpot
{
    position: absolute;
    background-color: var(--buttonColor2);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    left: 60%;
    z-index: 100;
    display: none;
    opacity: 0.8;
    border-color: var(--backgroundColor);
    transition: all 200ms;
}
#weakSpot:hover
{
    opacity: 1;
}
#weakSpotButton
{
  position: relative;
}
#weakSpotButton:hover::after
{
    content: "adds a weak spot to your pie that when clicked gives you more pies than a usual click. (scales with multiplier upgrades)" ;
    position: absolute;
    left: 0;
    top: 118%;
    width: 100%;
    height: 100%;
    color: var(--textColor);
    background-color: var(--backgroundColor);
        z-index: 10;
}
#multiplierButton
{
    position: relative;
}
#multiplierButton:hover::after
{
    content: "each level increases the amount of pies you get from one click";
        position: absolute;
    left: 0;
    top: 118%;
    width: 100%;
    height: 100%;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    z-index: 10;
}
#autoClickerButton
{
    position: relative;
}
#autoClickerButton:hover::after
{
    content: "each level increases the amount of pies you get a second";
            position: absolute;
    left: 0;
    top: 118%;
    width: 100%;
    height: 100%;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    z-index: 10;
}
